<div class="panel-default">
  <div class="panel-info">
    <strong><%= l(:label_panel_type) %>:</strong> <%= h(panel.panel_type) %>
  </div>
  <div class="panel-placeholder">
    <p><%= l(:text_panel_content_placeholder) %></p>
    <small><%= l(:text_panel_config_required) %></small>
  </div>
</div>